@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tac+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #010101;
  font-family: "Roboto Condensed";
}

a {
  text-decoration: none;
  color: white;
  transition: all .3s ease;
  border: 1px solid black;
  padding: .5rem 1rem;
}

a:hover {
  color: rgb(0, 247, 255);
  border: 1px solid rgb(0, 247, 255);
}

li {
  list-style: none;
}


header {
  color: white;
  padding: 1rem 2rem 0 10rem;
  display: flex;
  gap: 25rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo-container {
  display: flex;
  gap: .1rem;
}

.logo-container h1 {
  font-size: xx-large;
  font-weight: 400;
  color: white;
  font-family: "Anton", sans-serif;
}

.logo-container span {
  font-size: small;
  font-weight: 700;
  margin: 1.2rem 0 0 -.5rem;
  background-color: transparent;
  color: rgb(0, 247, 255);
}

.btn {
  padding: .4rem 2rem;
  background-color: rgb(0, 247, 255);
  font-family: 'Roboto Condensed', sans-serif;
  transition: all .3s ease;
}

.btn:hover {
  background-color: rgb(4, 202, 209);
}

i {
  color: black;
  background-color: transparent;
}

.btn-prim {
  border: 1px solid rgb(0, 247, 255);
  padding: 1rem 2rem;
  font-size: large;
  display: flex;
  width: 50%;
  gap: 1rem;
}

.btn-prim:hover {
  background-color: transparent;
  color: rgb(0, 247, 255);
}

.btn-prim:hover i {
  color: rgb(0, 247, 255);
}

.btn-prim span {
  background-color: transparent;
}

/* Main Section */

.main-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0 10rem;
  color: rgb(223, 223, 223);
}

.hero {
  display: flex;
  gap: 1rem;
}

.hero-title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 2;
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  flex: 3;
}

.first-and-third-row {
  display: flex;
  gap: 1.2rem;
  margin-left: 4rem;
}

.second-row {
  display: flex;
  gap: 1.2rem;
}

.image {
  border-radius: 2.5rem;
  width: 12.5rem;
  height: 9.3rem;
}

.text-with-background {
  background-image: url('../static/hedlinebg.gif');
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Anton", sans-serif;
  word-spacing: -3px;
  font-size: 6rem;
  font-weight: bolder;
  text-align: left;
}
