<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="static/form.css" />
    <title>Perfermance Predicter</title>
  </head>

  <body>
    <header>
      <div class="logo-container">
        <h1>INTELLCAP</h1>
        <span>SSS</span>
      </div>
      <ul class="header-list">
        <a href="/">Information</a>
        <a href="./buttons" class="btn">Model Details</a>
      </ul>
    </header>
    <div class="form-alignment">
      <form action="/predict" method="POST" class="form-container">
        <div class="row">
          <div class="col">
            <h3>Physical Attributes</h3>
            <div class="Attributes">
              <div class="Attribute">
                <label for="customRange2" class="form-label">Potential</label>
                <div class="range-value">
                  <span id="potential" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#potential').html($(this).val())"
                />
              </div>
              <div class="Attribute">
                <label for="customRange2" class="form-label"
                  >Acceleration</label
                >
                <div class="range-value">
                  <span id="acceleration" class="value">50</span
                  ><span class="value">m/s²</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#acceleration').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label"
                  >Sprint Speed</label
                >
                <div class="range-value">
                  <span id="sprint_speed" class="value">50</span
                  ><span class="value">m/s</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#sprint_speed').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label">Agility</label>
                <div class="range-value">
                  <span id="agility" class="value">50</span
                  ><span class="value">m/s</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#agility').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label">Balance</label>
                <div class="range-value">
                  <span id="balance" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#balance').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label">Jumping</label>
                <div class="range-value">
                  <span id="jumping" class="value">50</span
                  ><span class="value">m</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#jumping').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label">Stamina</label>
                <div class="range-value">
                  <span id="stamina" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#stamina').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label">Strength</label>
                <div class="range-value">
                  <span id="strength" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#strength').html($(this).val())"
                />
              </div>
            </div>
          </div>

          <div class="col">
            <h3>Technical Attributes</h3>
            <div class="attributes-of-col2">
              <div class="Attribute">
                <label for="customRange2" class="form-label">Crossing</label>
                <div class="range-value">
                  <span id="crossing" class="value">50</span
                  ><span class="value">m</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#crossing').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label">Finishing</label>
                <div class="range-value">
                  <span id="finishing" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#finishing').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label"
                  >Heading accuracy</label
                >
                <div class="range-value">
                  <span id="heading_accuracy" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#heading_accuracy').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label"
                  >Short passing</label
                >
                <div class="range-value">
                  <span id="short_passing" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#short_passing').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label">Curve</label>
                <div class="range-value">
                  <span id="curve" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#curve').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label">Volleys</label>
                <div class="range-value">
                  <span id="volleys" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#volleys').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label"
                  >Free kick accuracy</label
                >
                <div class="range-value">
                  <span id="free_kick_accuracy" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#free_kick_accuracy').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label"
                  >Long passing</label
                >
                <div class="range-value">
                  <span id="long_passing" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#long_passing').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label"
                  >Ball control</label
                >
                <div class="range-value">
                  <span id="ball_control" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#ball_control').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label">Long shots</label>
                <div class="range-value">
                  <span id="long_shots" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#long_shots').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label">Shot power</label>
                <div class="range-value">
                  <span id="shot_power" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#shot_power').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label">Penalties</label>
                <div class="range-value">
                  <span id="penalties" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#penalties').html($(this).val())"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3>Mental Attributes</h3>
            <div class="attributes-for-col3">
              <div class="Attribute">
                <label for="customRange2" class="form-label">Reactions</label>
                <div class="range-value">
                  <span id="reactions" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#reactions').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label">Aggression</label>
                <div class="range-value">
                  <span id="aggression" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#aggression').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label"
                  >Interceptions</label
                >
                <div class="range-value">
                  <span id="interceptions" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#interceptions').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label">Positioning</label>
                <div class="range-value">
                  <span id="positioning" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#positioning').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label">Vision</label>
                <div class="range-value">
                  <span id="vision" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#vision').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label">Marking</label>
                <div class="range-value">
                  <span id="marking" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#marking').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label"
                  >Standing tackle</label
                >
                <div class="range-value">
                  <span id="standing_tackle" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#standing_tackle').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label"
                  >Sliding tackle</label
                >
                <div class="range-value">
                  <span id="sliding_tackle" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#sliding_tackle').html($(this).val())"
                />
              </div>
            </div>
          </div>

          <div class="col">
            <h3>Goalkeeper Attributes</h3>
            <div class="attributes-for-col3">
              <div class="Attribute">
                <label for="customRange2" class="form-label">Gk reflexes</label>
                <div class="range-value">
                  <span id="gk_reflexes" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#gk_reflexes').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label"
                  >Gk positioning</label
                >
                <div class="range-value">
                  <span id="gk_positioning" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#gk_positioning').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label">Gk diving</label>
                <div class="range-value">
                  <span id="gk_diving" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#gk_diving').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label">Gk handling</label>
                <div class="range-value">
                  <span id="gk_handling" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#gk_handling').html($(this).val())"
                />
              </div>

              <div class="Attribute">
                <label for="customRange2" class="form-label">Gk kicking</label>
                <div class="range-value">
                  <span id="gk_kicking" class="value">50</span
                  ><span class="value">%</span>
                </div>
                <input
                  type="range"
                  class="form-range"
                  id="customRange2"
                  name="customRange2"
                  min="1"
                  max="100"
                  onInput="$('#gk_kicking').html($(this).val())"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="last-row">
          <div class="col">
            <h3>Personal Preferences</h3>
            <div class="preferences-attributes">
              <div class="preferences-attribute">
                <label for="preferred_foot" class="form-label"
                  >Preferred Foot</label
                >
                <div
                  class="btn-group"
                  role="group"
                  aria-label="Basic radio toggle button group"
                  class="input-container"
                >
                  <input
                    type="radio"
                    class="btn-check btn-lg"
                    name="preferred_foot"
                    id="foot_left"
                    autocomplete="off"
                    value="left"
                    checked
                  />
                  <label class="left-low" for="foot_left"
                    >Left</label
                  >

                  <input
                    type="radio"
                    class="btn-check btn-lg"
                    name="preferred_foot"
                    id="foot_right"
                    autocomplete="off"
                    value="right"
                  />
                  <label class="right-high" for="foot_right"
                    >Right</label
                  >
                </div>
              </div>
              <div class="preferences-attribute">
                <label for="attacking_work_rate" class="form-label"
                  >Attacking Work Rate</label
                >
                <div
                  class="btn-group"
                  role="group"
                  aria-label="Basic radio toggle button group"
                >
                  <input
                    type="radio"
                    class="btn-check btn-group-lg"
                    name="attacking_work_rate"
                    id="low_1"
                    autocomplete="off"
                    value="low"
                    checked
                  />
                  <label class="left-low" for="low_1"
                    >Low</label
                  >

                  <input
                    type="radio"
                    class="btn-check btn-group-lg"
                    name="attacking_work_rate"
                    id="medium_1"
                    value="medium"
                    autocomplete="off"
                  />
                  <label class="medium" for="medium_1"
                    >Medium</label
                  >

                  <input
                    type="radio"
                    class="btn-check btn-group-lg"
                    name="attacking_work_rate"
                    id="high_1"
                    value="high"
                    autocomplete="off"
                  />
                  <label class="right-high" for="high_1"
                    >High</label
                  >
                </div>
              </div>
              <div class="preferences-attribute">
                <label for="defensive_work_rate" class="form-label"
                  >Defensive Work Rate</label
                >
                <div
                  class="btn-group"
                  role="group"
                  aria-label="Basic radio toggle button group"
                >
                  <input
                    type="radio"
                    class="btn-check btn-group-lg"
                    name="defensive_work_rate"
                    id="low_2"
                    autocomplete="off"
                    value="low"
                    checked
                  />
                  <label class="left-low" for="low_2"
                    >Low</label
                  >

                  <input
                    type="radio"
                    class="btn-check btn-group-lg"
                    name="defensive_work_rate"
                    id="medium_2"
                    value="medium"
                    autocomplete="off"
                  />
                  <label class="medium" for="medium_2"
                    >Medium</label
                  >

                  <input
                    type="radio"
                    class="btn-check btn-group-lg"
                    name="defensive_work_rate"
                    id="high_2"
                    value="high"
                    autocomplete="off"
                  />
                  <label class="right-high" for="high_2"
                    >High</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <button type="submit" class="btn-sub">
          Predict
        </button>
      </form>

      <!-- Optional JavaScript; choose one of the two! -->

      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
      ></script>

      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    --></div>
  </body>
</html>
