<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/index.css" />
    <!-- Bootstrap Icons -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <title>Football Player Overall Score</title>
  </head>

  <body>
    <header>
      <div class="logo-container">
        <h1>INTELLCAP</h1>
        <span>SSS</span>
      </div>
      <ul class="header-list">
        <a href="#info">Information</a>
        <a href="./form" class="btn">Start Predicting</a>
      </ul>
    </header>
    <main class="main-container">
      <section class="hero">
        <div class="hero-title">
          <h1 class="text-with-background">DATA CAN BE PREDICTED</h1>
          <p class="description">
            You will need to include some data so we can predict the overall
            performance You will need to include some data so we can predict the overall
            performance.
          </p>
          <a class="btn btn-prim" href="./form">
            <span>Start Predicting</span><i class="bi bi-arrow-right"></i>
          </a>
        </div>
        <div class="grid-container">
          <div class="first-and-third-row">
            <img src="../static//ronaldo.gif" class="image" alt="ronaldo" />
            <img src="../static/zidane.gif" class="image" alt="zidane" />
            <img src="../static//ziyech.gif" class="image" alt="ziyech" />
          </div>
          <div class="second-row">
            <img src="../static/messi.gif" class="image" alt="messi" />
            <img src="../static/women.gif" class="image" alt="women" />
            <img src="../static//stat.gif" class="image" alt="stat" />
          </div>
          <div class="first-and-third-row">
            <img src="../static/enn.gif" class="image" alt="zidane" />
            <img src="../static//hakimi.gif" class="image" alt="ronaldo" />
            <img src="../static/robot.gif" class="image" alt="messi" />
          </div>
        </div>
      </section>
      <section id="info">Info</section>
    </main>
  </body>
</html>
